<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <title>Calculadora</title>
</head>
<body>
    <div class="contenedor">
        <div class="calculadora">
            <form method="post">
                <input type="text" id="code" name="code" value="{{ resultado if resultado else '' }}" readonly>
                <div class="buttons">
                    <button type="button" onclick="appendToDisplay('(')">(</button>
                    <button type="button" onclick="appendToDisplay(')')">)</button>
                    <button type="button" class="clear" onclick="clearDisplay()">C</button>
                    <button type="button" onclick="appendToDisplay('/')">/</button>
                    <button type="button" onclick="appendToDisplay('7')">7</button>
                    <button type="button" onclick="appendToDisplay('8')">8</button>
                    <button type="button" onclick="appendToDisplay('9')">9</button>
                    <button type="button" onclick="appendToDisplay('*')">*</button>
                    <button type="button" onclick="appendToDisplay('4')">4</button>
                    <button type="button" onclick="appendToDisplay('5')">5</button>
                    <button type="button" onclick="appendToDisplay('6')">6</button>
                    <button type="button" onclick="appendToDisplay('-')">-</button>
                    <button type="button" onclick="appendToDisplay('1')">1</button>
                    <button type="button" onclick="appendToDisplay('2')">2</button>
                    <button type="button" onclick="appendToDisplay('3')">3</button>
                    <button type="button" onclick="appendToDisplay('+')">+</button>
                    <button type="button" onclick="appendToDisplay('0')">0</button>
                    <button type="button" onclick="appendToDisplay('.')">.</button>
                    <button type="submit" name="resultado" value="resultado">=</button>
                    <button type="submit" class="extra" value="arbol">Tree</button>
                </div>
            </form>
            </div>
        </div>
        <div class="tabla">
            {% if valor == 1 %}
                <table>
                    <tr>
                        <th>Token</th>
                        <th>Tipo</th>
                    </tr>
                </table>
            {% else %}
                <p></p>
            {% endif %}
        </div>
    </div>

    <script>
        function appendToDisplay(value) {
            document.getElementById('code').value += value;
        }

        function clearDisplay() {
            document.getElementById('code').value = '';
        }
    </script>

</body>
</html>