<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Analizador Sintáctico y Léxico</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
    <h1>Analizador Sintáctico</h1><br>
    <form method="post">
        <label for="code">Code</label><br>
        <textarea id="code" name="code" placeholder="//Escribe tu código"></textarea>
        <br>
        <input type="submit" value="Analizar">
    </form>

    <div class="codigo"></div>
        {% if request.form.get('code') %}
            <h3>Código analizado:</h3>
            <pre>{{request.form.get('code')}}</pre>
        {% endif %}
    </div>

    <div class="contenedor">
        {% if resultado %}
            <h2>Resultado del Análisis:</h2>
            {% if color == 1%}
                <p style="color: green; font-weight: bold;">{{resultado}}</p>
            {% else %}
                <p style="color: rgb(159, 4, 4); font-weight: bold;">{{resultado}}</p>
            {% endif %}
        {% endif %}
    </div>

    <div class="errores">
        {% if errores %}
            <h2>Errores Encontrados:</h2>
            <pre style="color: red; font-weight: bold;">{{errores | join('\n')}}</pre>
        {% endif %}
    </div>

    <div class="contenedor_principal">
        <div class="contenedor_tabla">
            <table>
                {% if tokens %}
                    <tr>
                        <th>caracteres</th>
                        <th>simbolos</th>
                        <th>Línea</th>
                    </tr>
                    {% for caracter, simbolo, linea in tokens %}
                    <tr>
                        <td>{{ caracter}}</td>
                        <td>{{ simbolo}}</td>
                        <td>{{ linea}}</td>
                    </tr>
                    {% endfor %}
                {% else %}
                <tr><td colspan="2">No se encontro tokens</td></tr>
                {% endif %}
            </table>
        </div>

        <div class="contenedor_contadores">
            <h2>Conteo de Tokens</h2>
            <ul>
                {% if tokens %}
                    {% for tipo, count in token_count.items() %}
                    <li>{{ tipo }}: {{ count }}</li>
                    {% endfor %}
                {% else %}
                <tr><td colspan="2">No se encontro tokens</td></tr>
                {% endif %}
            </ul>
        </div>
    </div>

</body>
</html>