
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
  
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5; /* light gray background */
}
  
  h1, h2, h3 {
    color: #ffa07a; /* orange color */
  }
  
  /* Form Styles */
  
form {
    max-width: 500px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
  
label {
    display: block;
    margin-bottom: 10px;
}
  
textarea {
    width: 100%;
    height: 200px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
}
  
input[type="submit"] {
    background-color: #ffa07a; /* orange color */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
  
input[type="submit"]:hover {
    background-color: #ff9900; /* darker orange color */
}
  
  
.codigo {
    background-color: #f0f0f0; /* light gray background */
    padding: 20px;
    border: 1px solid #ddd;
}
  
pre {
    white-space: pre-wrap;
}
  
  
.contenedor {
    margin-top: 20px;
}
  
.contenedor h2 {
    margin-top: 0;
}
  
.contenedor p {
    font-weight: bold;
    font-size: 18px;
}
  
.contenedor p.green {
    color: green;
}
  
.contenedor p.red {
    color: rgb(159, 4, 4);
}
  
.errores {
    margin-top: 20px;
}
  
.errores pre {
    color: red;
    font-weight: bold;
}
  
  
.contenedor_principal {
    margin-top: 40px;
}
  
.contenedor_tabla {
    overflow-x: auto;
}
  
table {
    width: 100%;
    border-collapse: collapse;
}
  
th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}
  
th {
    background-color: #f0f0f0; /* light gray background */
}
  
  
.contenedor_contadores {
    margin-top: 20px;
}
  
.contenedor_contadores ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
  
.contenedor_contadores li {
    margin-bottom: 10px;
}