<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Analizador Lexico</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
    <h1>Analizador léxico</h1><br>
    <form method="post">
        <label for="code">Code</label><br>
        <textarea id="code" name="code" placeholder="//Escribe tu código"></textarea>
        <br>
        <input type="submit" value="Analizar">
    </form>
    <div class="contenedor">
        {% if code %}
            <pre>{{code}}</pre>
        {% else %}
            <p>Code: No se encontró código</p>
        {% endif %}
    </div>

    <div class="contenedor_principal">
        <div class="contenedor_tabla">
            <table>
                {% if tokens %}
                    <tr>
                        <th>caracteres</th>
                        <th>simbolos</th>
                        <th>Línea</th>
                    </tr>
                    {% for caracter, simbolo, linea in tokens %}
                    <tr>
                        <td>{{ caracter}}</td>
                        <td>{{ simbolo}}</td>
                        <td>{{ linea}}</td>
                    </tr>
                    {% endfor %}
                {% else %}
                <tr><td colspan="2">No se encontro tokens</td></tr>
                {% endif %}
            </table>
        </div>

        <div class="contenedor_contadores">
            <h2>Conteo de Tokens</h2>
            <ul>
                {% if tokens %}
                    {% for tipo, count in token_count.items() %}
                    <li>{{ tipo }}: {{ count }}</li>
                    {% endfor %}
                {% else %}
                <tr><td colspan="2">No se encontro tokens</td></tr>
                {% endif %}
            </ul>
        </div>
    </div>
    
</body>
</html>